body {
  color: #252525;
}

.addr {
  font-size: 16px;
  border-bottom: 1px solid #dedede;
  margin-top: -5px;
  padding: 20px 20px 5px 20px;
  display: flex;
  font-weight: bolder;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

h3 {
  margin: 8px 0px;
}

.align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-dir-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.justify-start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.align-start {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.justify-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.justify-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.flex-1 {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.home {
  width: 100%;
  height: 100vh;
}

.header {
  padding: 12px 20px;
  width: -webkit-fill-available;
  width: -moz-available;
}

.card {
  width: 100%;
  margin: 0px 16px;
  height: 95vh;
}

@media only screen and (max-width: 1200px) {
  .card {
    width: 50%;
  }
}

@media only screen and (max-width: 600px) {
  .card {
    width: -webkit-fill-available;
  }

  .header-mobile {
    flex-direction: column;
  }

  .header-mobile>button {
    margin-left: 0px;
  }
}

.btn {
  border: 1px solid lightgrey;
  background: transparent;
  color: gray;
  padding: 8px 20px;
  border-radius: 8px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  cursor: pointer;
  margin-left: 12px;
}

.identicon {
  border-radius: 50%;
  height: 32px;
  width: 32px;
  min-height: 32px;
  min-width: 32px;
  max-height: 32px;
  max-width: 32px;
  margin-right: 16px;
  background: linear-gradient(100deg, #ff00d0, #2200ff, #fff700);
}

.conversation-header {
  padding: 10px 20px;
  cursor: pointer;
  transition: .05s ease-in;
  z-index: 10;
  border-radius: 10px;
}

.conversation-list {
  max-height: 70vh;
  overflow: auto;
}

.conversation-header:hover {
  transition: .05s ease-in;
  background: linear-gradient(90deg, cyan, #00a2ff);
  transform: scale(1.05);
}

.convo-info b {
  font-size: 15px;
}

.convo-info div:nth-child(2) {
  font-size: 12px;
  color: #7c7c7c;
}

.msg-header {
  margin-left: 32px;
  margin-bottom: 12px;
}

.msgs-container {
  height: 87%;
  overflow: auto;
  background-image: url('../assets/bg1.jpeg');
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-y:scroll; 
  overflow-x:hidden;  
  border-radius: 50px;
  margin-top: -20px;
}

#style-4::-webkit-scrollbar-track
{
	background-color: #F5F5F5;
}

#style-4::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-4::-webkit-scrollbar-thumb
{
	background-color: #dcdcdc;
	border: 2px solid #f7f7f7;
}

.back-chevron {
  font-size: 40px;
  height: 40px;
  width: 20px;
  margin-right: 12px;
  align-items: flex-end;
}

.text-input {
  background: #fff;
  color: gray;
  padding: 10px 20px;
  margin: 5px;
  margin-left: 20px;
  border-radius: 100px;
  width: 70%;
  border: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  outline: none;
  font-size: 14px;
  border: 2px solid #e1e7ff;
  margin-top: 30px;
}

.text-input2 {
  background: white;
  color: gray;
  padding: 10px 20px;
  margin: 20px 5px 10px 10px;
  border-radius: 10px;
  width: -webkit-fill-available;
  width: -moz-available;
  border: none;
  outline: none;
  border: 2px solid white;
  transition: .1s ease-in;
}

.mt-auto {
  margin-top: auto;
}

.logo {
  width: 100px;
}

.new-address {
  font-size: 12px;
  color: #ff5656;
  margin-top: 8px;
  text-align: start;
  margin-left: 4px;
}

.bubbleWrapper {
  padding: 10px 10px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-self: flex-end;
  color: #fff;
}

.inlineContainer {
  display: inline-flex;
}

.inlineContainer.own {
  flex-direction: row-reverse;
}

.inlineIcon {
  width: 20px;
  object-fit: contain;
}

.ownBubble {
  min-width: 60px;
  max-width: 700px;
  padding: 14px 18px;
  margin: 6px 8px;
  background-color: #fefefe;
  color: #1b1b1b;
  font-size: 13px;
  border-radius: 16px 16px 0 16px;
  overflow-wrap: break-word;
}

.otherBubble {
  font-size: 13px;
  min-width: 60px;
  max-width: 700px;
  padding: 14px 18px;
  margin: 6px 8px;
  color: #fff;
  background-color: #3d3d3d;
  border-radius: 16px 16px 16px 0;
  overflow-wrap: break-word;
}

.own {
  align-self: flex-end;
}

.other {
  align-self: flex-start;
}

span.own,
span.other {
  font-size: 14px;
  color: grey;
}

.inp-btn {
  background-color: white;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 50px;
  border-radius: 100px;
  margin:10px 5px 5px 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: .1s ease-in;
  cursor: pointer;
}

.inp-btn:hover {
  box-shadow: none;
}

.text-input2:focus {
  border: 2px solid #e1e7ff;
}

.pay_span {
  background-color: #f7f7f7;
  color: gray;
  font-size: 12px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  padding: 10px;
  border-radius: 100px;
  margin-top: 20px;
}