@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

.fa-2x {
    font-size: 2.2em;
}

.fa {
    position: relative;
    display: table-cell;
    width: 80px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size: 24px;
}


.main-menu:hover,
nav.main-menu.expanded {
    width: 250px;
    overflow: visible;
}

img.logo {
    position: absolute;
    width: 90%;
    margin-bottom: 100px;
}

.main-menu:hover > img.logo {
    width: 90%;
    transition: .1s 1s;
}

.main-menu {
    background: #ffffff;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    width: 80px;
    overflow: hidden;
    -webkit-transition: width .2s ease-in;
    transition: width .2s ease-in;
    -webkit-transform: translateZ(0) scale(1, 1);
    z-index: 1000;
}

.main-menu:hover {    
    background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 20px );
-webkit-backdrop-filter: blur( 4px );
border-radius:  0 20px 20px 0;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.main-menu>ul {
    margin: 7px 0;
}

.main-menu li {
    position: relative;
    display: block;
    width: 250px;
    margin: 5px 30px 10px 5px;
}

.main-menu li>a {
    position: relative;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    color: #383838;
    font-family: arial;
    font-size: 17px;
    text-decoration: none;
    -webkit-transform: translateZ(0) scale(1, 1);
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
}

.main-menu .nav-icon {
    position: relative;
    display: table-cell;
    width: 80px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size: 22px;
}

.main-menu .nav-text {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    width: 190px;
}

.main-menu>ul.logout {
    position: absolute;
    left: 0;
    bottom: 0;
}

.no-touch .scrollable.hover {
    overflow-y: hidden;
}

.no-touch .scrollable.hover:hover {
    overflow-y: auto;
    overflow: visible;
}

a:hover,
a:focus {
    text-decoration: none;
}

nav {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

nav ul,
nav li {
    outline: 0;
    margin: 0;
    padding: 0;
}

.main-menu li:hover>a,
nav.main-menu li.active>a,
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus,
.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
.dashboard-page nav.dashboard-menu ul li.active a {
    color: #333333;
    border-radius: 20px;
    margin: 5px 15px 5px 5px;
    background: linear-gradient(90deg, cyan, #00a2ff);
}

.area {
    float: left;
    background: #e2e2e2;
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 300;
    src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}



@media screen and (max-width: 768px) {

    .main-menu {
        width: 40px;
    }

    .fa-2x {
        font-size: 1em;
    }
    
    .fa {
        position: relative;
        display: table-cell;
        width: 60px;
        height: 36px;
        text-align: center;
        vertical-align: middle;
        font-size: 18px;
    }

    img.logo {
        width: 100%;
    }

    .main-menu:hover > img.logo {
        width: 50%;
        transition: .1s 1s;
    }

    .main-menu:hover,
nav.main-menu.expanded {
    width: 200px;
    overflow: visible;
}


.main-menu .nav-text {
    width: 120px;
}


}